/* window {
    --bg: #282828;
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --gray: #a89984;
    --orange: #d65d0e;
    --fg: #ebdbb2;
} */

window#waybar {
    font-family: "Fira Code Nerd Font";
    font-size: 10pt;
    background: #161616;
    color: #f2f4f8;
}

#tags button {
    border-radius: 0;
    color: #f2f4f8;
}
#tags button.occupied {
    background: #08bdba;
}
#tags button.focused {
    background: #25be6a;
}

#clock {
    background: #33b1ff;
    padding: 0 1em;
}
